.menu-language-container {
    position: absolute;
    top: 38%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.menu-language-container .icon-brazil,
.menu-language-container .icon-usa {
    width: 48px;
    height: 16px;
    transition: 0.6s ease;
    cursor: pointer;
}

.menu-language-container .icon-brazil img,
.menu-language-container .icon-usa img {
    width: 100%;
    height: auto;
}

.menu-language-container .icon-brazil.color img {
    content: url('/assets/images/icons/icon-brazil-color.svg');
}

.menu-language-container .icon-brazil.bw img {
    content: url('/assets/images/icons/icon-brazil-black-and-white.svg');
}

.menu-language-container .icon-usa.color img {
    content: url('/assets/images/icons/icon-usa-color.svg');
}

.menu-language-container .icon-usa.bw img {
    content: url('/assets/images/icons/icon-usa-black-and-white.svg');
}

*,
*:before,
*:after {
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    background: #fff;
    font: "Roboto Slab", serif;
    color: #333;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #F0534D;
    border-radius: 5px;
}

body .fit-vids-style {
    display: none;
}

#jobs .container .companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#jobs .container .companies .picpay #fig1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-picpay.png);
}

#jobs .container .companies .picpay #fig1:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-picpay-color.png);
}

#jobs .container .companies .picpay #fig1 img {
    cursor: pointer;
}

#jobs .container .companies .picpay #fig1 {
    width: 163.29px;
    height: 52.4px;
    transition: 0.6s ease;
    background-image: url(/assets/images/companies/logo-picpay.png);
}

#jobs .container .companies .picpay #fig1:hover {
    background-image: url(/assets/images/companies/logo-picpay-color.png);
}

#jobs .container .companies .casas-bahia #fig2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-casas-bahia.png);
}

#jobs .container .companies .casas-bahia #fig2:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-casas-bahias-color.png);
}

#jobs .container .companies .casas-bahia #fig2 img {
    cursor: pointer;
}

#jobs .container .companies .casas-bahia #fig2 {
    width: 205.33px;
    height: 56.81px;
    transition: all 0.6s ease;
    background-image: url(/assets/images/companies/logo-casas-bahia.png);
}

#jobs .container .companies .casas-bahia #fig2:hover {
    background-image: url(/assets/images/companies/logo-casas-bahias-color.png);
}

#jobs .container .companies .sicredi #fig3::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-sicredi.png);
}

#jobs .container .companies .sicredi #fig3:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-sicredi-color.png);
}

#jobs .container .companies .sicredi #fig3 img {
    cursor: pointer;
}

#jobs .container .companies .sicredi #fig3 {
    width: 214.59px;
    height: 66.92px;
    transition: all 0.6s ease;
    background-image: url(/assets/images/companies/logo-sicredi.png);
}

#jobs .container .companies .sicredi #fig3:hover {
    background-image: url(/assets/images/companies/logo-sicredi-color.png);
}

#jobs .container .companies .renner #fig4::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-renner.png);
}

#jobs .container .companies .renner #fig4:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-renner-color.png);
}

#jobs .container .companies .renner #fig4 img {
    cursor: pointer;
}

#jobs .container .companies .renner #fig4 {
    width: 200px;
    height: 53.08px;
    transition: all 0.6s ease;
    background-image: url(/assets/images/companies/logo-renner.png);
}

#jobs .container .companies .renner #fig4:hover {
    background-image: url(/assets/images/companies/logo-renner-color.png);
}

#jobs .container .companies .cwi #fig5::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-cwi.png);
}

#jobs .container .companies .cwi #fig5:hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(/assets/images/companies/logo-cwi-color.png);
}

#jobs .container .companies .cwi #fig5 img {
    cursor: pointer;
}

#jobs .container .companies .cwi #fig5 {
    width: 84.61px;
    height: 46.15px;
    transition: all 0.6s ease;
    background-image: url(/assets/images/companies/logo-cwi.png);
}

#jobs .container .companies .cwi #fig5:hover {
    background-image: url(/assets/images/companies/logo-cwi-color.png);
}

@media (max-width: 990px) {
    #jobs .container .companies img {
        width: 100%;
    }

    #jobs .container .companies {
        display: flex;
        gap: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}